Write formulla for area of circle where
radius is 5
pi is 3.14
Create lists with following values with following names
cities -> Faisalabad, Islamabad, Karachi, Lahore, Quetta
result -> 93.4, 95, 98.7, 87.4, 83.02
score -> 45, 70, 54, 90, 42

In [3]:
r = 5
pi = 3.14
area = pi*r*r
print ("The calculated area is :", area)

The calculated area is : 78.5

In [4]:
cities = ["Faisalabad","Islamabad","Karachi","Lahore","Quetta"]
type(cities)

list

In [34]:
results = [93.4,95,98.7,87.4,83.02]
print(results)

[93.4, 95, 98.7, 87.4, 83.02]

In [45]:
score = [45,70,54,90,54,42]
print ("The second value of the list is :",score[1])
print ("The occurance of 54 in list is: ",score.count(54))
score.append(22)
print (score)
score.insert(53,33)
print(score)
score.extend([22,222,33,44,44])
print (score)

The second value of the list is : 70
The occurance of 54 in list is:  2
[45, 70, 54, 90, 54, 42, 22]
[45, 70, 54, 90, 54, 42, 22, 33]
[45, 70, 54, 90, 54, 42, 22, 33, 22, 222, 33, 44, 44]