In [5]:
employee_data = ['Ali', 125000, 'Google', 5]
employee_data
employee_data[0]+ ' is working in Google for '+ str(employee_data[-1])+' years and his salary is ' +str(employee_data[1])

'Ali is working in Google for 5 years and his salary is 125000'

In [56]:
# Example 2
studentData = ['Ahmed', 'Bilal', 'Government College University', 
               'Computer Science', 'BS', 50000,'28 Januray 2020', '05 February 2020']
#studentData[0:2]

# with next line 
msg = "'Hello {nme}, \nYour application is accepted in {clas} in {uni}. \nYou have to submit fee {fees} before {dte}. \nYour classes will start from {dte1}. \nThanks'".format(nme=studentData[0]+' '+studentData[1],clas=studentData[4]+' '+studentData[3],uni=studentData[2],fees=str(studentData[-3]),dte=studentData[-2],dte1=studentData[-1])
print(msg)

# with multi line 
msg1="""'Hello {nme},
Your application is accepted for admission in "{clas}" in {uni}.
You have to submit fee {fees} before {dte}.
Your classes will start from {dte1}.
Thanks'""".format(nme=studentData[0]+' '+studentData[1],clas=studentData[4]+' '+studentData[3],uni=studentData[2],fees=str(studentData[-3]),dte=studentData[-2],dte1=studentData[-1])
print(msg1)

'Hello Ahmed Bilal,
Your application is accepted in BS Computer Science in Government College University.
You have to submit fee 50000 before 28 Januray 2020.
Your classes will start from 05 February 2020.
Thanks'
'Hello Ahmed Bilal,
Your application is accepted for admission in "BS Computer Science" in Government College University.
You have to submit fee 50000 before 28 Januray 2020.
Your classes will start from 05 February 2020.
Thanks'

In [85]:
cities = ["Faisalabad", "Lahore", "Islamabad", "Peshawar", "Quetta", "Sahiwal", "Rawalpindi", "Sialkot"]
cities 

print('Positive indexing...')
print(cities[0:4])
print(cities[2:6])
print(cities[5:])

print('\nNegative indexing...')
print(cities[-4:-1])
print(cities[-5:])

Positive indexing...
['Faisalabad', 'Lahore', 'Islamabad', 'Peshawar']
['Islamabad', 'Peshawar', 'Quetta', 'Sahiwal']
['Sahiwal', 'Rawalpindi', 'Sialkot']

Negative indexing...
['Quetta', 'Sahiwal', 'Rawalpindi']
['Peshawar', 'Quetta', 'Sahiwal', 'Rawalpindi', 'Sialkot']

In [87]:
studentData = ["Ali Raza", 22, 91.24, "Computer Science", 5, "University of Agriculture"]
studentData.append('20 February 2019')
studentData.append(8)
studentData

['Ali Raza',
 22,
 91.24,
 'Computer Science',
 5,
 'University of Agriculture',
 '20 February 2019',
 8]

In [96]:
#1. 25000 at index 4
#2. 'M. Iqbal' at index 1
#studentData.insert(4,25000)
#studentData.insert(1,"M. Iqbal")
studentData

['Ali Raza',
 'M. Iqbal',
 22,
 91.24,
 'Computer Science',
 25000,
 25000,
 5,
 'University of Agriculture',
 '20 February 2019',
 8]

In [97]:
#1. 'Computer Science'
#2. 91.24
studentData.remove('Computer Science')
studentData.remove(91.24)
studentData

['Ali Raza',
 'M. Iqbal',
 22,
 25000,
 25000,
 5,
 'University of Agriculture',
 '20 February 2019',
 8]

In [98]:
#1. Last value from list
#2. value at 3rd index
lst = studentData.pop(-1)
thrd = studentData.pop(3)
print(lst)
print(thrd)

8
25000

In [142]:
employeeData = [["Ali", 35000, "Software Engineer"],
				["Talha", 55000, "Product Manager"],
				["Nasir", 79000, "Computer Engineer"],
				["Khalid", 44000, "DBA"]]

emp_nme=[]
sal = 0
for a in employeeData:
    sal = a[1]
    if sal > 50000:
        emp_nme.append(a[0])
emp_nme    


tot_sal = 0
for a in employeeData:
    tot_sal += a[1]    
tot_sal

213000

In [176]:
ed = [["Ali", 35000, "Software Engineer"],
				["Talha", 55000, "Product Manager"],
				["Nasir", 79000, "Computer Engineer"],
				["Khalid", 44000, "DBA"]]
i = 0
while i < len(ed):
    print(ed[i])
    i +=1

['Ali', 35000, 'Software Engineer']
['Talha', 55000, 'Product Manager']
['Nasir', 79000, 'Computer Engineer']
['Khalid', 44000, 'DBA']

In [193]:
#1. Change salary of nasir from 79000 to 90000 and designation to "Product Manager"
#2. Change salary of Khalid to 50000
edata = [["Ali", 35000, "Software Engineer"],
				["Talha", 55000, "Product Manager"],
				["Nasir", 79000, "Computer Engineer"],
				["Khalid", 44000, "DBA"]]

edata[2][1] = 90000
edata[2][2] = "Product Manager"
edata

[['Ali', 35000, 'Software Engineer'],
 ['Talha', 55000, 'Product Manager'],
 ['Nasir', 90000, 'Product Manager'],
 ['Khalid', 44000, 'DBA']]

In [201]:
# Data 1
username = "faizan1214"
password = "qwerty"
emailVerified = False
# Case 1
if username == "faizan1214" and password == "qwersty":
    if emailVerified == True:
        print("Login Success...")
    else:
        print("Email not verified..")
else: 
    print("Incorrect login details..")

# Case 2
if username == "faizan1214" and password == "qwerty":
    if emailVerified == True:
        print("Login Success...")
    else:
        print("Email not verified..")
else: 
    print("Incorrect login details..")
    
# Data 2
emailVerified = True
if username == "faizan1214" and password == "qwerty":
    if emailVerified == True:
        print("Login Success...")
    else:
        print("Email not verified..")
else: 
    print("Incorrect login details..")

Incorrect login details..
Email not verified..
Login Success...